section.skills#skills
  .container
    .skills-title__container
      .skills__title
        h2.section-title.skills__title-text Чем я могу быть полезен вам
        .skills__desc
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут все классно и красиво!
    .skills__container
      .skills-chart
        #skills-component
        //- ul.skills-list
          - 
            var skills = [
              ['Frontend', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
              ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
            ]
          each row in skills
            li.user-skills__item.skills-row
              h3.skills-row__title #{row[0]}
              ul.skills-row__list
                each skill in row[1]
                  li.skills-row__item

                    svg(viewBox="0 0 48 48" preserveAspectRatio="none").skill__shape
                      circle(r="15.91549430918954" cx="24" cy="24").skill__circle.skill__circle--under
                      circle.skill__circle.skill__circle--above(
                        r="15.91549430918954" 
                        cx="24" 
                        cy="24" 
                        stroke="url(#gradient)" 
                        transform='rotate(180 24 24)')
                      linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                        stop(offset="0%" stop-color="#4a00ed")
                        stop(offset="100%" stop-color="#9300e8")
                    .skill__name #{skill}